.app-main, .app-detail{
    padding: 15vh 0 5vh;
    box-sizing: border-box;
}

.characterList li a{
    display: block;
}

.characterList li a:hover img{
    opacity: .9;
}

.character-name{
    right: -.8rem;
    top: 20%;
    z-index: 1;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1rem;
}

.characterList li a img, .character-pics li img{
    width: 100%;
    height: 33vh;
    object-fit: contain;
}

.characterList li a img {
    opacity: .3;
    transition: opacity .4s, height .4s;
    z-index: -1;
}

/* Charcter detail */
.character-description{
    font-size: 1.2rem;
    font-weight: 800;
}