.app-main{
    width: 100vw;
    padding: 5vh 2vw;
    background-color: green;
    box-sizing: border-box;
}

.characterList{
    max-width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.characterList li{
    box-sizing: border-box;
    width: 25vw;
    padding: 2vh 1vw;
    margin-bottom: 2vw;
    background-color: yellow;
    list-style-type: none;
}

.characterList li img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}